.container {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  text-align: center;
  overflow: hidden;
}

.canvasContainer {
  border: 1px solid black;
  background-color: whitesmoke;
  width: 40vw;
  height: 60vh;
  margin: 0 auto;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.startButton {
  background-color: green;
  color: white;
  border: 1px solid black;
}

.stopButton {
  background-color: red;
  color: white;
  border: 1px solid black;
  margin-left: 15px;
}

.logoutButton {
  background-color: blue;
  color: white;
  border: 1px solid black;
  margin-left: 15px;
}

.keysText {
  color: blue;
}

.keyContainer {
  margin-top: 1%;
}

.score {
  color: green;
  display: inline;
}

.scoreText {
  font-weight: bold;
}

.highScore {
  color: blue;
  display: inline;
}
